/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
  }

  .row {
    margin: 0;
  }

  .container {
    padding: 70px 0;
  }

  p, li {
    color: #444;
    font-size: 14px;
  }

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


  /* Barra de navegação */
  header, .navbar {
    background-color: #353D41;
  }

  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #logo {
    width: 75px;
  }

  .navbar-brand {
    padding: 0;
    color: #FFF;
  }

  .navbar-brand:hover {
    color: #FFF;
  }

  #navbar-links a {
    color: #FFF;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }

  .nav-item.active {
    border-bottom: 3px solid #FFF;
  }

/*event create page*/
#event-create-container {
  padding: 30px;
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea{
    font-size: 12px;
}


/*  */
